.gradient-background {
  background: linear-gradient(300deg, #9376E0, #E893CF, #F3BCC8);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


.purple-text {
  color: #9376E0;
}

.pink1-text {
  color:#E893CF;
}

.pink2-text {
  color:#F3BCC8;
}

.yellow-text {
  color: #F6FFA6;
}

.white-text {
  color: ivory;
}

.blue-text {
  color: cornflowerblue;
}

#time{
  background-color: ivory;
}

#RSVP{
  background-color: ivory;
}

h1 {
  font-family: 'Edu QLD Beginner', cursive;
}

p {
  font-family: 'Patrick Hand', cursive;
  font-family: 'Edu QLD Beginner', cursive;
}

h4 {
  font-family: 'Patrick Hand', cursive;
  font-family: 'Edu QLD Beginner', cursive;
}
